<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% Challenge.all.each do |challenge| %>
  <p>
    <%= challenge.description  %> by author <%= challenge.author.email  %>
  </p>
<% end %>

<div>
  <%= form_tag( challenges_path, :method => "post", class: "challenge-form") do %>
    <%= text_field_tag :description, params[:description], placeholder: "Write your reply here",class: "wide", id: "challenge-description" %>
    <%= submit_tag "Create", name: nil, class: "btn btn-brand-with-bg answer-submit", id: "answer-submit"%>
  <% end %>
</div>


