<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= asset_path '8bit-city-background.gif' %>');">
      <div class="banner-content">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </div>

    <% if current_page?(root_path) %>
      <%= render 'shared/message_box' %>
    <% end %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
